@import url("https://fonts.googleapis.com/css?family=Lobster");
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
html body .myWrapper {
  height: 100%;
  transition: background-color 1s ease-in-out;
  background-color: white; }
html body .myCompeting {
  background-color: lightblue; }
html body .container {
  /* srink the jumbotron question display for smaller devices like phones */
  /*modify the alert bootstrap class */
  /* myCorrect and .myIncorrect change the color of the answer buttons and question jumbotron depending on the validity of the users answer */
  /* for larger phones and all other devices, add some spacing between the buttons */ }
  html body .container .modal-header .modal-title {
    text-align: center;
    font-family: 'Lobster', cursive; }
    html body .container .modal-header .modal-title .glyphicon-check {
      float: left; }
  html body .container .modal-body {
    text-align: center; }
    html body .container .modal-body .myCog {
      font-size: 5em;
      animation: spin 2s infinite linear; }
    html body .container .modal-body table tbody .myBold {
      font-weight: bold; }
    html body .container .modal-body td {
      font-size: 1em;
      padding: 10px; }
    html body .container .modal-body .goodResult {
      color: #468847; }
    html body .container .modal-body .badResult {
      color: #a94442; }
    html body .container .modal-body .myResults {
      font-size: 1.5em; }
    html body .container .modal-body .mySubmit {
      margin-top: 10px; }
  html body .container .modal-footer .myStartGame, html body .container .modal-footer .myEndGame {
    margin-bottom: 10px; }
  html body .container .title {
    font-size: 3em;
    font-family: 'Lobster', cursive; }
    html body .container .title .restartTest {
      font-size: 0.5em;
      float: right;
      color: #333; }
  html body .container .jumbotron {
    margin-top: 30px;
    transition: background-color ease-in-out 0.25s;
    text-align: center; }
    html body .container .jumbotron .timer {
      width: 100px;
      cursor: auto; }
    html body .container .jumbotron .glyphicon-screenshot {
      float: left; }
    html body .container .jumbotron .restartBtn {
      float: right; }
  @media screen and (max-width: 480px) {
    html body .container .jumbotron {
      margin-top: 12px;
      margin-bottom: 12px; } }
  html body .container .scoreAlert {
    font-size: 1.2em;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
    width: 70px;
    display: inline-block;
    margin-right: 10px; }
    html body .container .scoreAlert .glyphicon {
      float: right; }
  html body .container .alert-info {
    width: 90px; }
  html body .container .myCorrect {
    background-color: #dff0d8;
    color: #468847; }
  html body .container .myIncorrect {
    background-color: #f2dede;
    color: #a94442; }
  html body .container .myDropdownClick {
    background-color: #d9edf7;
    color: #31708f; }
  html body .container .btn {
    transition: background-color ease-in-out 0.25s; }
  @media screen and (min-width: 360px) {
    html body .container .answer-btn {
      margin-bottom: 10px; } }

/* success bg color is #dff0d8 */
/* text = #468847 */
/* error bg color is #f2dede */
/* text is #a94442 */

/*# sourceMappingURL=App.css.map */
