@import url('https://fonts.googleapis.com/css?family=Lobster');

@keyframes spin {
    from {
        transform:rotate(0deg);
        }
    to {
        transform:rotate(360deg);
        }
}

html {
    body {
        .myCog {
            color: #333;
            height: 55px;
            animation: spin 3s infinite linear;
            /* at 768 bootstrap enlarges the jumbotron */
            @media screen and (max-width: 768px) {
                height: 33px;
            }
        }
        .container {
            .modal-header {
                .modal-title {
                    text-align: center;
                    font-family: 'Lobster', cursive;
                    .glyphicon-check {
                        float: left;
                    }
                }
            }
            .modal-body {
                text-align: center;
                .myCog {
                    font-size: 6em;
                }
                table {
                    tbody {
                        .myBold {
                            font-weight: bold;
                        }
                    }
                }
                /* trying to keep the highscore looking nice on small devices if name is WWWWWWWWWWWW... */
                td {
                    font-size: 1em;
                    padding: 10px 3px 10px 3px;
                }
                @media screen and (max-width: 360px) {
                    td {
                        font-size: 0.9em;
                    }
                }
                @media screen and (max-width: 320px) {
                    td {
                        font-size: 0.8em;
                    }
                }
                .goodResult {
                    color: #468847;
                }
                .badResult {
                    color: #a94442;
                }
                .myResults {
                    font-size: 1.5em;
                }
                .mySubmit {
                    margin-top: 10px;
                }
            }
            .modal-footer {
                .myStartGame, .myEndGame {
                    margin-bottom: 10px;
                }
            }
            .title {
                border: 2px solid rgb(238, 238, 238);
                border-radius: 10px;
                background-color: rgb(238, 238, 238);
                margin-top: 5px;
                font-size: 2em;
                font-family: 'Lobster', cursive;
                h1 {
                    margin: 10px;
                    .myFlash {
                        transition: color 2s ease-in-out;
                        //color: #a94442;
                        color: red;
                    }
                }
                .restartTest {
                    background-color: 0.9 * #eeeeee;
                    font-size: 0.5em;
                    float: right;
                    border-radius: 20px;
                    .glyphicon .glyphicon-repeat {
                        color: #333;
                    }
                }
            }
            .jumbotron {
                border: 2px solid #eee;
                margin-top: 30px;
                transition: background-color ease-in-out 0.25s;
                text-align: center;
                .timer {
                    width: 100px;
                    cursor: auto;
                }
                .glyphicon-screenshot {
                    float: left;
                }
                .restartBtn {
                    float: right;
                }
            }
            /* srink the jumbotron question display for smaller devices like phones */
            @media screen and (max-width: 480px) {
                .jumbotron {
                    margin-top: 12px;
                    margin-bottom: 12px;
                }
            }
            /*modify the alert bootstrap class */
            .scoreAlert {
                font-size: 1.2em;
                padding: 5px;
                border-radius: 20px;
                text-align: center;
                width: 70px;
                display: inline-block;
                margin-right: 10px;
                .glyphicon {
                    float: right;
                    top: 3px;
                }
            }
            .alert-info {
                width: 90px;
            }
            /* myCorrect and .myIncorrect change the color of the answer buttons and question jumbotron depending on the validity of the users answer */
            .myCorrect {
                background-color: #dff0d8;
                color: #468847;
            }
            .myQuestionCorrect {
                @extend .myCorrect;
            }
            .myQuestionIncorrect {
                @extend .myIncorrect;
            }
            .myIncorrect {
                background-color: #f2dede;
                color: #a94442;
            }
            .myTimerCorrect {
                @extend .myCorrect;
                background-color: 0.95 * #dff0d8;
                border-color: green;
            }
            .myTimerIncorrect {
                @extend .myIncorrect;
                border-color: red;
            }
            .myDropdownClick {
                background-color: #d9edf7;
                color: #31708f;
            }
            .btn {
                transition: background-color ease-in-out 0.25s;
            }
            /* for larger phones and all other devices, add some spacing between the buttons */
            @media screen and (min-width: 360px) {
                .answer-btn {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

/* success bg color is #dff0d8 */
/* text = #468847 */

/* error bg color is #f2dede */
/* text is #a94442 */