body {
    .container {
        .modal-body {
            td {
                font-size: 1.5em;
                padding: 10px;  
            }
            .goodResult {
                color: #468847;
            }
            .badResult {
                color: #a94442;
            }
        }
        .title {
            font-size: 3em;
        }
        .jumbotron {
            margin-top: 30px;
            transition: background-color ease-in-out 0.25s;
            text-align: center;
            .timer {
                width: 100px;
                cursor: auto;
            }
            .glyphicon-screenshot {
                float: left;
            }
        }
        /* srink the jumbotron question display for smaller devices like phones */
        @media screen and (max-width: 480px) {
            .jumbotron {
                margin-top: 15px;
                margin-bottom: 15px;
            }
        }
        /*modify the alert bootstrap class */
        .scoreAlert {
            font-size: 1.2em;
            padding: 5px;
            border-radius: 20px;
            text-align: center;
            width: 70px;
            display: inline-block;
            margin-right: 10px;
            .glyphicon {
                float: right;
            }
        }
        .alert-info {
            width: 90px;
        }
        /* myCorrect and .myIncorrect change the color of the answer buttons and question jumbotron depending on the validity of the users answer */
        .myCorrect {
            background-color: #dff0d8;
            color: #468847;   
        }
        .myIncorrect {
            background-color: #f2dede;
            color: #a94442; 
        }
        .btn {
            transition: background-color ease-in-out 0.25s;
        }
        /* for larger phones and all other devices, add some spacing between the buttons */
        @media screen and (min-width: 360px) {
            .answer-btn {
                margin-bottom: 10px;
            }
        }
    }
}

/* success bg color is #dff0d8 */
/* text = #468847 */

/* error bg color is #f2dede */
/* text is #a94442 */